@charset "UTF-8";
/* Главный цвета */
/* Миксины */
/* Миксины */
.wrapper {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #363636;
  position: normal;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.wrapper a {
  font-family: 'Montserrat',
 sans-serif;
  font-size: 16px;
}

/* ФОРМА */
.exit {
  cursor:pointer;
  position: absolute;
  height: 36px;
  width: 36px;
  background-color: #f24841;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exit:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 2px;
  background-color: #fff;
  color: #f24841;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.exit:after {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 2px;
  background-color: #fff;
  color: #f24841;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.form {
  -webkit-box-shadow: 0 5px 15px #00000015;
          box-shadow: 0 5px 15px #00000015;
  position: absolute;
  left: 50%;
  margin-left: -160px;
  top: 10%;
  background-color: #fff;
  width: 320px;
  z-index: 100;
  text-align: center;
  display: none;
}

.form h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  margin: 40px 0;
}

input {
  border: 1px solid #d3d3d3;
  padding: 20px 20px 20px 20px;
  margin: 15px 0;
  width: 290px;
}

input:focus {
  border: 1px solid #ffe155;
}

input:active {
  border: 1px solid #ffe155;
}

.form_name {
  position: relative;
}

.form_name > label {
  position: absolute;
  font-size: 14px;
  left: 25px;
  top: 7px;
  background-color: #fff;
  padding: 0 10px;
}

.form_email {
  position: relative;
}

.form_email > label {
  position: absolute;
  font-size: 14px;
  left: 25px;
  top: 7px;
  background-color: #fff;
  padding: 0 10px;
}

.form_tel {
  position: relative;
}

.form_tel > label {
  position: absolute;
  font-size: 14px;
  left: 25px;
  top: 7px;
  background-color: #fff;
  padding: 0 10px;
}

.form_btn input {
  background-color: #f24841;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.form_btn input:hover {
  background-color: #b42727;
}

.form_btn input:focus {
  background-color: #b42727;
}

/* ФОРМА КОНЕЦ*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 960px;
  min-width: 320px;
  min-height: 100vh;
  max-height: 100%;
  background: #ffe155;
  padding: 15px;
  position: relative;
}

.main_phone {
  padding-top: 0px;
  font-weight: 600;
}

.main_phone img {
  display: inline-block;
  vertical-align: middle;
}

.main_phone a {
  color: #363636;
  padding-left: 20px;
}

.main_title {
  padding-top: 60px;
}

.main_title h1 {
  font-size: 48px;
  line-height: 48px;
  color: #363636;
  margin-top: 25px;
  font-weight: bold;
}

.main_title_second {
  line-height: 24px;
  background-color: #363636;
  padding: 12px;
  text-transform: uppercase;
  color: #ffe155;
  font-weight: 600;
  display: inline-block;
}

.main_title_rewiew {
  margin-top: 42px;
  color: #363636;
  min-width: 290px;
  max-width: 460px;
  line-height: 24px;
}

.main_advantages {
  max-width: 650px;
  min-width: 290px;
  margin-bottom: 60px;
}

.main_advantages p {
  display: inline-block;
  margin-left: 20px;
  width: 200px;
  vertical-align: middle;
}

.main_advantages_main {
  margin-top: 30px;
  display: inline-block;
}

.main_advantages_block {
  background-color: #363636;
  display: inline-block;
  padding: 11px 9px 7px 9px;
  vertical-align: middle;
}

.main_button_button {
  width: 290px;
  height: 50px;
  font-weight: 600;
  display: inline-block;
  background-color: #f24841;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 60px;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_button_button:hover {
  background-color: #b42727;
}

.main_button_button:focus {
  background-color: #b42727;
}

.main_button_button a {
  line-height: 50px;
  padding: 20px 60px;
  color: #fff;
  text-decoration: none;
}

.main_track {
  position: absolute;
  top: 25%;
  left: 80%;
}

/* Форма */
/* Форма */
/* МЕДИА ЗАПРОСЫ */
@media (max-width: 767px) {
  .wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #363636;
    position: normal;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .wrapper a {
    font-family: 'Montserrat',
 sans-serif;
    font-size: 16px;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 960px;
    min-width: 320px;
    min-height: 100vh;
    max-height: 100%;
    background: #ffe155;
    padding: 15px;
    position: relative;
  }
  .main_phone {
    padding-top: 0px;
    font-weight: 600;
  }
  .main_phone img {
    display: inline-block;
    vertical-align: middle;
  }
  .main_phone a {
    color: #363636;
    padding-left: 20px;
  }
  .main_title {
    padding-top: 30px;
  }
  .main_title h1 {
    font-size: 36px;
    line-height: 36px;
    color: #363636;
    margin-top: 25px;
    font-weight: bold;
  }
  .main_title_second {
    line-height: 24px;
    background-color: #363636;
    padding: 12px;
    text-transform: uppercase;
    color: #ffe155;
    font-weight: 600;
    display: inline-block;
  }
  .main_title_rewiew {
    margin-top: 42px;
    color: #363636;
    min-width: 290px;
    max-width: 460px;
    line-height: 24px;
  }
  .main_advantages {
    max-width: 650px;
    min-width: 290px;
    margin-bottom: 60px;
  }
  .main_advantages p {
    display: inline-block;
    margin-left: 20px;
    width: 200px;
    vertical-align: middle;
  }
  .main_advantages_main {
    margin-top: 30px;
    display: inline-block;
  }
  .main_advantages_block {
    background-color: #363636;
    display: inline-block;
    padding: 11px 9px 7px 9px;
    vertical-align: middle;
  }
  .main_button {
    text-align: center;
  }
  .main_button_button {
    width: 290px;
    height: 50px;
    font-weight: 600;
    display: inline-block;
    background-color: #f24841;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 60px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .main_button_button:hover {
    background-color: #b42727;
  }
  .main_button_button:focus {
    background-color: #b42727;
  }
  .main_button_button a {
    line-height: 50px;
    padding: 20px 60px;
    color: #fff;
    text-decoration: none;
  }
  .main_track {
    position: absolute;
    top: 25%;
    left: 90%;
  }
}

@media (max-width: 480px) {
  .wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #363636;
    position: normal;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .wrapper a {
    font-family: 'Montserrat',
 sans-serif;
    font-size: 16px;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 960px;
    min-width: 320px;
    min-height: 100vh;
    max-height: 100%;
    background: #ffe155;
    padding: 15px;
    position: relative;
  }
  .main_phone {
    padding-top: 0px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main_phone img {
    text-align: center;
  }
  .main_phone a {
    color: #363636;
    padding-left: 20px;
    line-height: 32px;
    text-align: center;
  }
  .main_title {
    padding-top: 30px;
  }
  .main_title h1 {
    font-size: 36px;
    line-height: 36px;
    color: #363636;
    margin-top: 25px;
    font-weight: bold;
    text-align: center;
  }
  .main_title_second {
    line-height: 24px;
    background-color: #363636;
    padding: 12px;
    text-transform: uppercase;
    color: #ffe155;
    text-align: center;
    font-weight: 600;
    /* @include inlineBlock; */
    display: block;
  }
  .main_title_rewiew {
    margin-top: 42px;
    color: #363636;
    min-width: 290px;
    max-width: 460px;
    line-height: 24px;
    text-align: center;
  }
  .main_advantages {
    max-width: 650px;
    min-width: 290px;
    margin-bottom: 60px;
  }
  .main_advantages p {
    display: inline-block;
    margin-left: 20px;
    width: 200px;
    vertical-align: middle;
  }
  .main_advantages_main {
    margin-top: 30px;
    display: inline-block;
  }
  .main_advantages_block {
    background-color: #363636;
    display: inline-block;
    padding: 11px 9px 7px 9px;
    vertical-align: middle;
  }
  .main_button {
    text-align: center;
  }
  .main_button_button {
    width: 290px;
    height: 50px;
    font-weight: 600;
    display: inline-block;
    background-color: #f24841;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 60px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .main_button_button:hover {
    background-color: #b42727;
  }
  .main_button_button:focus {
    background-color: #b42727;
  }
  .main_button_button a {
    line-height: 50px;
    padding: 20px 60px;
    color: #fff;
    text-decoration: none;
  }
  .main_track {
    position: absolute;
    top: 25%;
    left: 100%;
  }
}

@media (max-width: 411px) {
  .wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #363636;
    position: normal;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .wrapper a {
    font-family: 'Montserrat',
 sans-serif;
    font-size: 16px;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 960px;
    min-width: 320px;
    min-height: 100vh;
    max-height: 100%;
    background: #ffe155;
    padding: 15px;
    position: relative;
  }
  .main_phone {
    padding-top: 0px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main_phone img {
    text-align: center;
  }
  .main_phone a {
    color: #363636;
    padding-left: 20px;
    line-height: 32px;
    text-align: center;
  }
  .main_title {
    padding-top: 30px;
  }
  .main_title h1 {
    font-size: 30px;
    line-height: 36px;
    color: #363636;
    margin-top: 25px;
    font-weight: bold;
    text-align: center;
  }
  .main_title_second {
    line-height: 24px;
    background-color: #363636;
    padding: 12px;
    text-transform: uppercase;
    color: #ffe155;
    text-align: center;
    font-weight: 600;
    /* @include inlineBlock; */
    display: block;
  }
  .main_title_rewiew {
    margin-top: 42px;
    color: #363636;
    min-width: 290px;
    max-width: 460px;
    line-height: 24px;
    text-align: center;
  }
  .main_advantages {
    max-width: 650px;
    min-width: 290px;
    margin-bottom: 60px;
  }
  .main_advantages p {
    display: inline-block;
    margin-left: 20px;
    width: 200px;
    vertical-align: middle;
  }
  .main_advantages_main {
    margin-top: 30px;
    display: inline-block;
  }
  .main_advantages_block {
    background-color: #363636;
    display: inline-block;
    padding: 11px 9px 7px 9px;
    vertical-align: middle;
  }
  .main_button {
    text-align: center;
  }
  .main_button_button {
    width: 290px;
    height: 50px;
    font-weight: 600;
    display: inline-block;
    background-color: #f24841;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 60px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .main_button_button:hover {
    background-color: #b42727;
  }
  .main_button_button:focus {
    background-color: #b42727;
  }
  .main_button_button a {
    line-height: 50px;
    padding: 20px 60px;
    color: #fff;
    text-decoration: none;
  }
  .main_track {
    position: absolute;
    top: 25%;
    left: 100%;
  }
}

@media (max-width: 360px) {
  .wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #363636;
    position: normal;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .wrapper a {
    font-family: 'Montserrat',
 sans-serif;
    font-size: 16px;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 960px;
    min-width: 320px;
    min-height: 100vh;
    max-height: 100%;
    background: #ffe155;
    padding: 15px;
    position: relative;
  }
  .main_phone {
    padding-top: 0px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main_phone img {
    text-align: center;
  }
  .main_phone a {
    color: #363636;
    padding-left: 20px;
    line-height: 32px;
    text-align: center;
  }
  .main_title {
    padding-top: 30px;
  }
  .main_title h1 {
    font-size: 24px;
    line-height: 28px;
    color: #363636;
    margin-top: 25px;
    font-weight: bold;
    text-align: center;
  }
  .main_title_second {
    line-height: 24px;
    background-color: #363636;
    padding: 12px;
    text-transform: uppercase;
    color: #ffe155;
    text-align: center;
    font-weight: 600;
    /* @include inlineBlock; */
    display: block;
  }
  .main_title_rewiew {
    margin-top: 42px;
    color: #363636;
    min-width: 290px;
    max-width: 460px;
    line-height: 24px;
    text-align: center;
  }
  .main_advantages {
    max-width: 650px;
    min-width: 290px;
    margin-bottom: 60px;
  }
  .main_advantages p {
    display: inline-block;
    margin-left: 20px;
    width: 200px;
    vertical-align: middle;
  }
  .main_advantages_main {
    margin-top: 30px;
    display: inline-block;
  }
  .main_advantages_block {
    background-color: #363636;
    display: inline-block;
    padding: 11px 9px 7px 9px;
    vertical-align: middle;
  }
  .main_button {
    text-align: center;
  }
  .main_button_button {
    width: 290px;
    height: 50px;
    font-weight: 600;
    display: inline-block;
    background-color: #f24841;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 60px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .main_button_button:hover {
    background-color: #b42727;
  }
  .main_button_button:focus {
    background-color: #b42727;
  }
  .main_button_button a {
    line-height: 50px;
    padding: 20px 60px;
    color: #fff;
    text-decoration: none;
  }
  .main_track {
    position: absolute;
    top: 25%;
    left: 100%;
  }
}
/*# sourceMappingURL=style.css.map */